body {
    height: 95vh;
    background-color: rgb(2, 139, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border: 9px solid burlywood;
    padding: 16px;
    border-radius: 15px;
}


