body {
    height: 95vh;
    background-color: rgb(2, 139, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border: 9px solid burlywood;
    padding: 16px;
    border-radius: 15px;
}

h3,
h1 {
    text-align: center;
    color: rgb(130, 240, 255);
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10;
}

td {
    height: 80px; 
    width: 120px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

